
#file-explorer {
    font-family: Arial, sans-serif;
}

#breadcrumbs {
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.folder, .file {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.folder:hover, .file:hover {
    background-color: #f0f0f0;
}

